<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubinrui.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.liubinrui.model.entity.Blog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="thumbCount" column="thumb_count" />
        <result property="hotScore" column="hot_score" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,content,thumb_count,hot_score
        create_time,update_time
    </sql>

    <!--    CASE WHEN 必须包含 ELSE，否则当 id 不匹配时会返回 NULL-->
    <update id="batchUpdateThumbCount">
        UPDATE blog
        SET thumb_count = thumb_count + #{count}
        WHERE id IN
        <foreach collection="thumbList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 批量更新博客热度值：batchUpdateHotScore -->
    <update id="batchUpdateHotScore">
        UPDATE blog
        SET hot_score = CASE id
        <foreach collection="updateList" item="item" separator=" ">
            WHEN #{item.id} THEN #{item.hotScore}
        </foreach>
        ELSE hot_score
        END,
        update_time = NOW()
        WHERE id IN
        <foreach collection="updateList" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="selectIdByCursor" resultType="java.lang.Long">
        select id from blog
        <where>
            <if test="lastId != null">
                id &gt; #{lastId}
            </if>
        </where>
        ORDER BY id ASC
        LIMIT #{batchSize}
    </select>

    <select id="selectByCursor" resultType="com.liubinrui.model.entity.Blog">
        select * from blog
        <where>
            <if test="lastId != null">
                id &gt; #{lastId}
            </if>
        </where>
        ORDER BY id ASC
        limit #{batchSize}
    </select>


    <select id="selectHotByCursor" resultType="com.liubinrui.model.entity.Blog">
        select * from blog
        <where>
            <if test="lastId != null">
                id &gt; #{lastId}
            </if>
            AND hot_score &gt;= #{hotScore}
        </where>
        ORDER BY id ASC
        LIMIT #{batchSize}
    </select>

    <select id="rebuildBox" resultType="com.liubinrui.model.entity.Blog">
        select * from blog
        WHERE
        <!-- 1. 筛选博主：发布者必须在 followIds 列表中 -->
        user_id IN
        <foreach collection="followIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND
        <!-- 2. 筛选时间：发布时间大于 '一周前' (即最近一周内) -->
        create_time >= #{time}
        <!-- 3. 排序：按发布时间升序 (即：最早发布的在前，最新的在后) -->
        ORDER BY create_time ASC
    </select>
</mapper>
